@import '../../shared/styles/global.scss';
h1 {
    color: $w;
    margin: 0 0 0 20px;
}
.preview {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}
.back {
    height: 60px;
    width: 60px;
    background: $secondary-background;
    color: $w;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    .mat-icon {
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        margin-right: -10px;
    }
}
.title {
    display: flex;
    align-items: center;
    padding: 20px;
}