<div class="title">
    <button class="back" (click)="back()"><mat-icon>arrow_back_ios</mat-icon></button>
    <h1>{{city}}, next {{NUMBER_HOURS}} hours</h1>
</div>
<div class="preview">
    <app-hour-card *ngFor="let hour of hourly" [hour]="hour"></app-hour-card>
</div>