@import './shared/styles/global.scss';

.main {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 110px 0 60px;
}
.logo {
    position: relative;
    background: $w;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin: 10px;
    img {
        width: 50px;
        height: auto;
    }
    &::after {
        position: absolute;
        left: -10px;
        top: -10px;
        z-index: -1;
        border-radius: 10px;
        content: '';
        width: 70px;
        height: 70px;
        background: $secondary-background;
    }
}
.header {
    position: fixed;
    top: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 20px;
    background: $primary-background;
    width: 100%;
    h1 {
        color: $w;
        margin: 0 0 0 20px;
        font-size: 2rem;
        font-weight: 600;
    }
}
.footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    font-size: 1.5rem;
    color: $w;
    padding: 20px;
    width: 100%;
    background: $primary-background;
}
.p-color-bee {
    color: $secondary-background;
}