
<div class="container">
  <div class="header">
    <div class="logo">
      <img src="assets/icons/bee.png" alt="">
    </div>
    <h1><span class="p-color-bee">Bee</span>weather <span class="p-color-bee">app</span></h1>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <span>@Created by Piotr Szaredko</span>
  </div>
</div>