<mat-card class="hour-card">
    <div class="temp">
        <img [src]="'http://openweathermap.org/img/wn/' + hour.weather[0]?.icon + '.png'" alt="">
        <h2>{{hour.temp | number: '.0-0'}} &#x2103;</h2>
    </div>
    <div class="time">
        {{hour.dt | date: 'dd.MM/HH:mm' : 'UTC+1': 'pl'}}
    </div>
</mat-card>