@import '../../shared/styles/global.scss';
.hour-card {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px 20px 0;
    transition: 200ms;
    &:hover {
        transform: translateY(10px);
    }
}
.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
}