@import '../../shared/styles/global.scss';

h2 {
    margin: 0;
}
.city-card {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 20px;
    transition: 200ms;
    border-radius: 10px;
    box-shadow: none;
    min-width: 200px;
    &::after {
        position: absolute;
        content: '';
        height: 20px;
        width: calc(100% - 20px);
        top: calc(100% - 10px);
        left: 10px;
        background: $secondary-background;
        border-radius: 0 0 20px 20px;
        transition: 200ms;
        z-index: -1;
    }
    &.current{
        transition: none;
        &::after {
            transform: translateY(10px);
            //background: $secondary-background-current;
        }
    }
    &:hover {
        //transform: translateX(20px);
        &:after {
            transform: translateY(10px);
        }
    }
}
.temp {
    display: flex;
    align-items: center;
}
.wind {
    display: flex;
    align-items: center;
    img {
        width: 50px;
        height: auto;
    }
}