<div style="position: relative; z-index: 1;">
    <mat-card class="city-card" (click)="preview()">
        <h1>{{city.name}}, {{city.sys?.country}}</h1>
        <div class="temp">
            <img [src]="'http://openweathermap.org/img/wn/' + city.weather[0]?.icon + '.png'" alt="">
            <h2>{{city.main?.temp | number: '.0-0'}} &#x2103;</h2>
        </div>
        <div class="wind">
            <img [src]="'assets/icons/wind.svg'" alt="">
            {{city.wind?.speed}} m/s
        </div>
    </mat-card>
</div>
