
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$weather-primary: mat-palette($mat-indigo);
$weather-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$weather-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$weather-theme: mat-light-theme((
  color: (
    primary: $weather-primary,
    accent: $weather-accent,
    warn: $weather-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($weather-theme);

@import './app/shared/styles/global.scss';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: $primary-background; font-size: 16px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
  margin: 0 auto;
  max-width: 1200px;
}